body{
  margin:0;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}
.first-container {
  background-color:#e4f9f5;
  }
.middle-container{
  background-color: #f3c8cf;
}
.bottom-container {
  background-color:#41aea9;
  padding:2%
  }



.heading-one{
    font-size: 900%;
    font-family: 'Tangerine', cursive;
    margin:0 auto;
    padding-top: 15%;
    color:#41aea9;

  }
  .heading-two{
    color: #41aea9;
    font-size:220% ;
    margin:0 auto;
    font-family: 'Zen Dots', cursive;
    font-weight: normal;

  }
  h2{
    color: #41aea9;
    font-size:280% ;
    font-family: 'Zen Dots', cursive;
    font-weight: normal;
    margin:0 0 1% 0;
  }
  h3{
    color: #41aea9;
    font-size:180% ;
    font-family: 'Zen Dots', cursive;
    font-weight: normal;
    margin:0;
  }
  p{
    font-size: 100%;
    margin:0;
  }
  .pro{
    color:#325288;
  }
.intro{
  margin:2% auto;
}
.cloud-one{
  position:absolute;
  width:10%;
  left: 6%;
  top: 10%;
}
.cloud-two{
  position:absolute;
  width:10%;
  right: 15%;
}
.mountain{
  width: 70%;
  margin-top: 5%;
}
.profile-pic{
  width: 20%;
  margin-top: 5%;
}
hr{
  border: dotted #bbbbbb 10px;
  border-bottom: none;
  width: 10%;
  margin:6% auto;
}
.web{
  float: left;
  width: 30%;
  margin-right: 5%;
}
.graphics{
  width: 33%;
  float: right;
  margin-left: 5%;
}
.photoshop{
  width: 18%;
  float: left;
  margin-right: 5%;
}
.skill-row{
  width:60%;
  margin:7% auto;
  text-align: left;
  line-height: 2;
}
.contact-me{
  padding: 3%
}
.btn {
  background: #36ebf5;
  background-image: -webkit-linear-gradient(top, #36ebf5, #11999E);
  background-image: -moz-linear-gradient(top, #36ebf5, #11999E);
  background-image: -ms-linear-gradient(top, #36ebf5, #11999E);
  background-image: -o-linear-gradient(top, #36ebf5, #311999E);
  background-image: linear-gradient(to bottom, #36ebf5, #11999E);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Libre Baskerville', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin:8%
}

.btn:hover {
  background: #2ccfbc;
  background-image: -webkit-linear-gradient(top, #2ccfbc, #4ecbd0);
  background-image: -moz-linear-gradient(top, #2ccfbc, #4ecbd0);
  background-image: -ms-linear-gradient(top, #2ccfbc, #4ecbd0);
  background-image: -o-linear-gradient(top, #2ccfbc, #4ecbd0);
  background-image: linear-gradient(to bottom, #2ccfbc, #4ecbd0);
  text-decoration: none;
}
.contact-line{
  margin:1% auto 4%;
}
a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
  margin: 5% 3%;
}
.copy{
  padding-top:1%;
  color:white;
  padding-top:2%;
}
.insta,.twitter ,.facebook{
  width:6%;
}
.twitter{
  -webkit-filter: drop-shadow(2px 2px 0 white)
                  drop-shadow(-2px -2px 0 white);
  filter: drop-shadow(2px 2px 0 white)
          drop-shadow(-2px -2px 0 white);

}
